{% extends "layout.html" %}
{% block body %}
<div class="columns my-4">
	<div class="column is-1"></div>

	<div class="column box">

		<div class="column"></div>

		<div class="columns">
			<div class="column has-text-centered"><a href="/tips/Vidrio" class="title ">Vidrio</a></div>
			<div class="column has-text-centered"><a href="/tips/Cartón o Papel" class="title">Cartón o Papel</a></div>
		</div>

		<div class="column"></div>

		<div class="columns">
			<div class="column has-text-centered"><a href="/tips/Latas de aluminio" class="title">Latas de aluminio</a></div>
			<div class="column has-text-centered"><a href="/tips/Plástico" class="title">Plástico</a></div>
		</div>

		<div class="column"></div>

		<div class="columns">
			<div class="column has-text-centered "><a href="/tips/Residuos Orgánicos" class="title">Residuos Orgánicos</a></div>
			<div class="column has-text-centered"><a href="/tips/Tetra-Pack" class="title">Tetra-Pack</a></div>
		</div>

		<div class="column"></div>

	</div>
	
	<div class="column is-3"></div>
</div>

{% endblock %}