{% extends "layout.html" %}
{% block body %}
<div>
	<div class="message-body">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
	</div>
	<div class="message-body">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
	</div>
	<div class="message-body">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
	</div>
	<div class="message-body">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
	</div>
	<div class="message-body">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
	</div>
	<div class="message-body">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
	</div>
	<div class="message-body">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
	</div>
	<div class="message-body">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
	</div>
	<div class="message-body">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
	</div>

</div>
{% endblock %}