{% extends "layout.html" %}
{% block body %}
<div class="columns">
	<div class="column is-flex is-flex-direction-column box mt-4">
		<a class="title has-text-centered">Tipos de elementos a reciclar</a>
		<table class="table  has-text-centered">
			<thead>
				<tr>
					<th></th>
					<th>Pequeño</th>
					<th>Grande</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>algo</th>
					<td><input type="number" min="0" class="input is-small is-rounded"></td>
					<td><input type="number" min="0" class="input is-small is-rounded"></td>
				</tr>
				<tr>
					<th>Vidrio</th>
					<td><input type="number" min="0" class="input is-small is-rounded"></td>
					<td><input type="number" min="0" class="input is-small is-rounded"></td>
				</tr>
				<tr>
					<th>Tetra-Pak</th>
					<td><input type="number" min="0" class="input is-small is-rounded"></td>
					<td><input type="number" min="0" class="input is-small is-rounded"></td>
				</tr>
				<tr>
					<th>Plástico</th>
					<td><input type="number" min="0" class="input is-small is-rounded"></td>
					<td><input type="number" min="0" class="input is-small is-rounded"></td>
				</tr>
				<tr>
					<th>Cartón</th>
					<td><input type="number" min="0" class="input is-small is-rounded"></td>
					<td><input type="number" min="0" class="input is-small is-rounded"></td>
				</tr>
				<tr>
					<th>Latas</th>
					<td><input type="number" min="0" class="input is-small is-rounded"></td>
					<td><input type="number" min="0" class="input is-small is-rounded"></td>
				</tr>
				<tr>
					<th>Organico</th>
					<td><input type="number" min="0" class="input is-small is-rounded"></td>
					<td><input type="number" min="0" class="input is-small is-rounded"></td>
				</tr>


			</tbody>

		</table>
		<a class="subtitle">Descripción</a>

		<textarea name="descripcion" id="" cols="15" rows="5" class="textarea is-small is-hovered">uwu</textarea>

		<div class="file my-4 container is-info">
			<label class="file-label">
				<input class="file-input" type="file" name="resume">
				<span class="file-cta ">
					<span class="file-label" name='foto'>
						Subir Imagen...
					</span>
				</span>
			</label>
		</div>

		<div class="field is-grouped  container">
			<div class="control">
				<button class="button is-link">Submit</button>
			</div>
			<div class="control">
				<button class="button is-link is-light">Cancel</button>
			</div>
		</div>

	</div>


	<div class="column is-3">
		<!-- para centrar contenido -->
	</div>

</div>


{% endblock %}