{% extends "layout.html" %}
{% block body %}

<div class="columns">

	<div class="column ">
		<h1 class="tile is-size-1 ">
			<strong>Noticias Importantes</strong>
		</h1>


		{% for noticia in noticias: %}
		<div class="card has-background-white-ter">
			<div class="card-content title mb-0">
				{{noticia['title']}}
			</div>
			<div class="card-content ">
				<div class="content">
					<p class="is-size-5">{{noticia['description']}}</p>
				</div>
			</div>
			<div class="card-image p-3">
				<figure class="image is-3by1">
					<img src="{{noticia['urlToImage']}}" alt="Placeholder image">
				</figure>
			</div>
			<footer class="card-footer">
				<a href="#" class="card-footer-item subtitle">Por: {{noticia['author']}}</a>
				<a href={{noticia['url']}} class="card-footer-item subtitle">Visitar</a>
			</footer>

		</div>
		<div class="block"></div>
		{% endfor %}

	</div>
	<div class="column is-3">
			<table class="table is-fullwidth has-text-centered">
				<thead>
					<tr>
						<th><abbr title="Usuario">Usuario</abbr></th>
						<th><abbr title="Ranking">Rango</abbr></th>
					</tr>

				</thead>
				<!-- (id, img, Usuario, puntaje) -->
				<tbody class="has-text-centered">
					<tr class="is-selected">
						<td><strong>{{ranking[0][2]}}</strong></td>
						<td>1</td>
					</tr>

					{% for user in ranking[1::] %}
					<tr>
						<td>{{user[2]}}</td>
						<td>{{loop.index + 1}}</td>						
					</tr>
					{% endfor %}
				</tbody>

			</table>
	</div>
</div>

{% endblock %}