{% extends "layout.html" %}
{% block body %}

<h1 class="tile is-1">
	<strong>Noticias Importantes</strong>
</h1>


{% for noticia in noticias: %}
<div class="card">
	<div class="card-content title">
		{{noticia['title']}}
	</div>
	<div class="card-content">
		<div class="content">
			{{noticia['description']}}	
		</div>
	</div>
	<div class="card-image">
		<figure class="image is-3by1">
			<img src="{{noticia['urlToImage']}}" alt="Placeholder image">
		  </figure>
	</div>
	<footer class="card-footer">
		<a href="#" class="card-footer-item subtitle">Por: {{noticia['author']}}</a>
		<a href="noticia['url']" class="card-footer-item subtitle">Visitar</a>
	</footer>

</div>
{% endfor %}

{% endblock %}