{% extends "layout.html" %}
{% block body %}

<div class="columns">

	<div class="column is-9">
		<h1 class="tile is-1 is-centered">
			<strong>Noticias Importantes</strong>
		</h1>


		{% for noticia in noticias: %}
		<div class="card">
			<div class="card-content title">
				{{noticia['title']}}
			</div>
			<div class="card-content">
				<div class="content">
					{{noticia['description']}}
				</div>
			</div>
			<div class="card-image">
				<figure class="image is-3by1">
					<img src="{{noticia['urlToImage']}}" alt="Placeholder image">
				</figure>
			</div>
			<footer class="card-footer">
				<a href="#" class="card-footer-item subtitle">Por: {{noticia['author']}}</a>
				<a href={{noticia['url']}} class="card-footer-item subtitle">Visitar</a>
			</footer>

		</div>
		{% endfor %}

	</div>
	<div class="column ">
			<table class="table is-fullwidth">
				<thead>
					<tr>
						<th><abbr title="Usuario">Usuario</abbr></th>
						<th><abbr title="Ranking">Rank</abbr></th>
					</tr>

				</thead>
				<tbody>
					<tr class="is-selected">
						<td>User1</td>
						<td>990</td>
					</tr>
					{% for i in [2,3,4,5,6,7,8,9,10]%}
					<tr>
						<td>User{{i}}</td>
						<td>{{1000 - 10*i}}</td>						
					</tr>
					{% endfor %}
				</tbody>

			</table>
	</div>
</div>

{% endblock %}