<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Yo Reciclo 2</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>

	<nav class="navbar is-success" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="/">
				<img src="/static/yo_reciclo2_.jpg" class="image is-96x96">
			</a>

			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
				data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-start">

			</div>

			<div class="navbar-end">
				<div class="navbar-item">
					<div class="buttons">
						{% if 'active' in session:%}
						<a href="/perfil" class="button is-primary">
							<!-- ruta no existe-->
							<strong>{{session['usuario']}}</strong>
						</a>
						<a href="/salir" class="button">
							<!-- ruta no existe-->
							Salir
						</a>
						{% else: %}
						<a class="button is-primary" href="/signup.html">
							<strong>Registrarse</strong>
						</a>
						<a class="button is-light" href="/signin.html">
							Inicio de sesión
						</a>
						{% endif %}
						<a class="button is-light">
							Contacto
						</a>
					</div>
				</div>
			</div>
		</div>

	</nav>

	<div class="columns mt-1">

		<div class="column is-3 is-narrow">

			<aside class="menu">
				<p class="menu-label is-size-5 mx-2 mb-0">General</p>
				<ul class="menu-list">
					<li>
						<ul class="menu-list">

							<li><a href="/">Inicio</a></li>
							<li><a href="/ranking">Ranking</a></li>
							<li><a href="/tips_y_consejos">Tips y consejos</a></li>
							<li><a href="/puntos">Puntos de reciclaje</a></li>
							
						</ul>
					</li>

					{% if 'active' in session: %}

					<p class="menu-label is-size-5 mx-2 mb-0">Personal</p>

					<li>
						<ul class="menu-list">
							<li><a href="/perfil">Mi perfil</a></li>
							<li><a href="/progreso" >Mi progreso</a></li>
							<li><a href="/metas">Mis metas</a></li>
						</ul>
					</li>

					{% endif %}
				</ul>

			</aside>

		</div>
		<div class="column is">

			{% block body %}
			{% endblock %}

		</div>

	</div>


</body>

</html>