{% extends "layout.html" %}
{% block body %}
<div class="column box is-four-fifths">
    <strong>Mi Objetivo es:</strong> {{session['objetivo']}}
</div>

<div class="column box is-four-fifths">
    <div class="mt-1">
        <strong>Recordatorios:</strong> {{session['Recordatorio']}}
    </div>
    
    <div class="mt-3">
        <strong>Frecuencias de Reciclaje:</strong>{{session['Frecuencia']}}
    </div>
</div>
<div class="columns is-mobile">
    <div class="column is-one-fifth is-offset-one-third ">
        
        <button class="button is-success is-outlined">
            <a href="/formulario_puntos" class="link">Recibir Puntos</a>
        </button>
        
        
    </div>
</div>
    {% endblock %}