{% extends "layout.html" %}
{% block body %}
<div class="column box is-four-fifths">
    <strong>Mi Objetivo es:</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe, autem at obcaecati eius voluptatum id, in molestiae ab maxime error labore pariatur facere vero fugit quidem quas minus harum culpa?
</div>

<div class="column box is-four-fifths">
    <div class="mt-1">
        <strong>Recordatorios:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsam inventore aut necessitatibus, officia blanditiis rerum molestiae, error facilis impedit consectetur, quis assumenda optio voluptatem qui fugit! Sapiente, enim dolorum!
    </div>
    <div class="mt-3">
        <strong>Fechas:</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae harum est, et quasi eveniet sequi ullam fuga fugit dolore dolorem, quisquam praesentium saepe dolorum in error exercitationem eius nobis provident.
    </div>
    <div class="mt-3">
        <strong>Frecuencias de Reciclaje:</strong>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo itaque facilis pariatur fugiat reprehenderit beatae molestias doloribus suscipit atque eveniet, quaerat vitae nulla ad maiores quae maxime fuga. Tempora, eum.
    </div>
</div>
<div class="columns is-mobile">
    <div class="column is-one-fifth is-offset-one-third ">
        
        <button class="button is-success is-outlined">
            Recibir Puntos
        </button>
        
        
    </div>
</div>
    {% endblock %}