{% extends "layout.html" %}
{% block body %}

<div class="columns">

	<div class="column">
		<div class="card">
		<div class="card-image">
		  <figure class="image is-4by3">
			<img src="/static/benjaja.jfif" alt="Placeholder image">
		  </figure>
		</div>
		<div class="card-content">
		  <div class="media">
			<div class="media-content">
			  <p class="title is-4">Benjamín Rojas 19</p>
			  <p class="subtitle is-6">🥵</p>
			</div>
		  </div>
		  <div class="content">
			Creativo, simpatico, fan de marcianeke y adicto al tabaco. Pasame tu encendedor y no me veras a mi y tampoco de fuego. Juego lol.
		  </div>
		</div>
	  </div>
	</div>

	<div class="column"><div class="card">
		<div class="card-image">
		  <figure class="image is-4by3">
			<img src="/static/perfil1.jpg" alt="Placeholder image">
		  </figure>
		</div>
		<div class="card-content">
		  <div class="media">
			<div class="media-content">
			  <p class="title is-4">Matías Olea 19</p>
			  <p class="subtitle is-6">🤡</p>
			</div>
		  </div>
		  <div class="content">
			Genio incomprendido, me gusta mucho tomar agua y el wii. Vivimos en una simulación. Dormir, ¿Que es eso?
		  </div>
		</div>
	  </div>
	</div>

	<div class="column"><div class="card">
		<div class="card-image">
		  <figure class="image is-4by3">
			<img src="/static/perfil4.jpg" alt="Placeholder image">
		  </figure>
		</div>
		<div class="card-content">
		  <div class="media">
			<div class="media-content">
			  <p class="title is-4">Pedro Pizarro 19</p>
			  <p class="subtitle is-6">🔫</p>
			</div>
		  </div>
		  <div class="content">
			Car addiction ⚡. Mis panas me dicen toreto. Tuve fe. La bencina esta mas caras que las graficas. 
		  </div>
		</div>
	  </div>
	</div>

	<div class="column is-3"></div>

</div>

<div class="columns">

	<div class="column">
		<div class="card">
			<div class="card-image">
			  <figure class="image is-4by3">
				<img src="/static/perfil5.jpg" alt="Placeholder image">
			  </figure>
			</div>
			<div class="card-content">
			  <div class="media">
				<div class="media-content">
				  <p class="title is-4">Felipe Meneses 18</p>
				  <p class="subtitle is-6">🤑</p>
				</div>
			  </div>
			  <div class="content">
				Hater numero uno de marcianeke, si nadie lo odia, es porque ya no estoy en este mundo. Me gusta el centella.
			  </div>
			</div>
		  </div>
	</div>

	<div class="column">
		<div class="card">
			<div class="card-image">
			  <figure class="image is-4by3">
				<img src="/static/donrene.jpg" alt="Placeholder image">
			  </figure>
			</div>
			<div class="card-content">
			  <div class="media">
				<div class="media-content">
				  <p class="title is-4">René Puentes 33</p>
				  <p class="subtitle is-6">@ElLokoRene</p>
				</div>
			  </div>
			  <div class="content">
				Yo tambien tengo sentiemientos, tambien tengo pena cachai.
				Me da pena hermano. 
			  </div>
			</div>
		  </div>
	</div>

	<div class="column">
		<div class="card">
			<div class="card-image">
			  <figure class="image is-4by3">
				<img src="/static/garin.jpg" alt="Placeholder image">
			  </figure>
			</div>
			<div class="card-content">
			  <div class="media">
				<div class="media-content">
				  <p class="title is-4">Matías Garín 18</p>
				  <p class="subtitle is-6">😫</p>
				</div>
			  </div>
			  <div class="content">
				Me gusta correr. Pude ser jugador profesional de Fornite pero faltó apoyo. Me pitie la placa madre de mi PC.
			  </div>
			</div>
		  </div>
	</div>
	<div class="column is-3"></div>
</div>

{% endblock %}

<div class="card">
	<div class="card-image">
	  <figure class="image is-4by3">
		<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
	  </figure>
	</div>
	<div class="card-content">
	  <div class="media">
		<div class="media-content">
		  <p class="title is-4">John Smith</p>
		  <p class="subtitle is-6">@johnsmith</p>
		</div>
	  </div>
	  <div class="content">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Phasellus nec iaculis mauris.
	  </div>
	</div>
  </div>