<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Yo Reciclo 2</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>

	<nav class="navbar is-success" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="https://bulma.io">
				<img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
			</a>

			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
				data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-start">

			</div>

			<div class="navbar-end">
				<div class="navbar-item">
					<div class="buttons">
                        <a class="navbar-item" href="/templates/perfil.html"><!-- aqui es perfil.html para el mati olea -->
                            <figure class="image is-50x28">
                                <img class="is-rounded" src="/imagenes/descarga.jfif">
                            </figure>
                        </a>
                            
                        <a class="button is-primary" href="/templates/perfil.html"><!-- aqui es perfil.html para el mati olea -->
                            
							<strong>Perfil</strong>
                            
						</a>
                        
						
						  
						<a  href="/templates/perfil.html">
                        
							  
							Contacto
						</a>
					</div>
				</div>
			</div>
		</div>

	</nav>

	<div class="columns">

		<div class="column is-3 is-narrow">

			<aside class="menu">

				<ul class="menu-list">
					<li><a href="/ranking">Ranking</a></li>
					<li><a>Tips y consejos</a></li>
					<li><a>Puntos de reciclaje</a></li>
				</ul>

			</aside>

		</div>
		<div class="column is-1"> </div>
		<div class="column is-7"  >

			{% block body %}
			{% endblock %}

			<div class= " column box ">
				<div class="columns ">
					<div class="column is-one-fifth"></div>
					<div class="column is-three-fifth">

						<div class="bulma-center-mixin-parent">	
							<figure >
								<img class="center" width="128" height="128" src="/imagenes/descarga.jfif">
							</figure>
						</div>
						
					</div>
					<div class="column is-one-fifth box ">
						<h2> <strong>Tu Posicion en el Ranking es:</strong></h2>
						<h3 class="title is-1">13</h3>

					</div>
				</div>

				<div class="column">
					
					
					
				



					<div class="column"></div>
					<div class="Column">
						<div class="columns">
							<div class="column is-one-fifth">
							</div>
							<div class="column is-three-fifth">
								<div class="columns box">
									<div class="column ">
										<p class="my-1"><strong>Nombre</strong><p>
										<p class="my-1"><strong>Nombre de Usuario</strong></p>
										<p class="my-1"><strong>Mail</strong></p>
										<p class="my-1"><strong>Fecha de Nacimiento</strong></p>
										<p class="my-1"><strong>Region / Comuna</strong></p>
									</div>
									<div class="column">
										<h3 class="my-1">Rene Puentes</h3>
										<h3 class="my-1">Loko Rene</h3>
										<h3 class="my-1">Rene.Puentes@alumnos.uai.cl </h3>
										<h3 class="my-1">30 / 02 / 2002</h3>
										<h3 class="my-1">Región del Biobío / Lota</h3>
									</div>
								</div>
								
							</div>
							
							<div class="column is-one-fifth"></div>
						</div>
					</div>
					<div class="Column">Copyrights</div>
				<div>
				
					
				
					
					
				
				
				

			</div>

		</div>
		
	</div>


</body>

</html>