{% extends "layout.html" %}
{% block body %}

<div>
    <h1 class="title is-1"><strong>Ranking</strong> </h1>

</div>
<div class="column">
    <!-- este es el relleno para que se vea mejor-->
</div>

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>Posición</th>
            <th>Usuario</th>
            <th>Puntaje</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th>1</th>
            <td>
                <div class="columna">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <figure class="image is-24x24">
                                <img class="is-rounded" src="/imagenes/descarga.jfif">
                            </figure>
                        </div>
                        <div class="column"> El Pitbul</div>
                    </div>
                </div>


            </td>

            <td>1003 pts</td>
        </tr>
        <tr>
            <th>2</th>
            <td>
                <div class="columna">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <figure class="image is-24x24">
                                <img class="is-rounded" src="/imagenes/descarga.jfif">
                            </figure>
                        </div>
                        <div class="column">Ando Picao</div>
                    </div>
                </div>
            </td>

            <td>1002 pts</td>
        </tr>
        <tr>
            <th>3</th>
            <td>
                <div class="columna">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <figure class="image is-24x24">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <div class="column">El_Hombre_Orquesta</div>
                    </div>
                </div>
            </td>

            <td>1001 pts</td>
        </tr>
        <tr>
            <th>4</th>
            <td>
                <div class="columna">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <figure class="image is-24x24">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <div class="column">Usuario 4</div>
                    </div>
                </div>
            </td>

            <td>1000 pts</td>
        </tr>
        <tr>
            <th>5</th>
            <td>
                <div class="columna">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <figure class="image is-24x24">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <div class="column">Usuario 5</div>
                    </div>
                </div>
            </td>

            <td>998 pts</td>
        </tr>
        <tr>
            <th>6</th>
            <td>
                <div class="columna">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <figure class="image is-24x24">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <div class="column">Usuario 6</div>
                    </div>
                </div>
            </td>

            <td>997 pts</td>
        </tr>
        <tr>
            <th>7</th>
            <td>
                <div class="columna">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <figure class="image is-24x24">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <div class="column">Usuario 7</div>
                    </div>
                </div>
            </td>

            <td>990 pts</td>
        </tr>
        <tr>
            <th>8</th>
            <td>
                <div class="columna">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <figure class="image is-24x24">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <div class="column">Usuario 8</div>
                    </div>
                </div>
            </td>

            <td>800 pts</td>
        </tr>
        <tr>
            <th>9</th>
            <td>
                <div class="columna">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <figure class="image is-24x24">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <div class="column">Usuario 9</div>
                    </div>
                </div>
            </td>

            <td> 700 pts</td>
        </tr>
        <tr>
            <th>10</th>
            <td>
                <div class="columna">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <figure class="image is-24x24">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <div class="column">Usuario 10</div>
                    </div>
                </div>
            </td>

            <td>699 pts</td>
        </tr>
        <tr>
            <th>11</th>
            <td>
                <div class="columna">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <figure class="image is-24x24">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <div class="column">Usuario 11</div>
                    </div>
                </div>
            </td>

            <td>650 pts</td>
        </tr>
        <tr>
            <th>12</th>
            <td>
                <div class="columna">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <figure class="image is-24x24">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <div class="column">Usuario 12</div>
                    </div>
                </div>
            </td>

            <td>620 pts</td>
        </tr>
        <tr>
            <th>13</th>
            <td>
                <div class="columna">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <figure class="image is-24x24">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <div class="column">Usuario 13</div>
                    </div>
                </div>
            </td>

            <td>590 pts</td>
        </tr>
        <tr>
            <th>14</th>
            <td>
                <div class="columna">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <figure class="image is-24x24">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <div class="column">Usuario 14</div>
                    </div>
                </div>
            </td>

            <td>551 pts</td>
        </tr>
        <tr>
            <th>15</th>
            <td>
                <div class="columna">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <figure class="image is-24x24">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <div class="column">Usuario 15</div>
                    </div>
                </div>
            </td>

            <td>550 pts</td>
        </tr>
        <tr>
            <th>16</th>
            <td>
                <div class="columna">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <figure class="image is-24x24">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <div class="column">Usuario 16</div>
                    </div>
                </div>
            </td>

            <td>490 pts</td>
        </tr>
        <tr>
            <th>17</th>
            <td>
                <div class="columna">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <figure class="image is-24x24">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <div class="column">Usuario 17</div>
                    </div>
                </div>
            </td>

            <td>450 pts</td>
        </tr>
        <tr>
            <th>18</th>
            <td>
                <div class="columna">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <figure class="image is-24x24">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <div class="column">Usuario 18</div>
                    </div>
                </div>
            </td>

            <td>300 pts</td>
        </tr>
        <tr>
            <th>19</th>
            <td>
                <div class="columna">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <figure class="image is-24x24">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <div class="column">Usuario 19</div>
                    </div>
                </div>
            </td>

            <td>
                101 pts
            </td>
        </tr>
        <tr>
            <th>20</th>
            <td>
                <div class="columna">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <figure class="image is-24x24">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <div class="column">Usuario 20</div>
                    </div>
                </div>
            </td>

            <td>50 pts</td>
        </tr>
    </tbody>
</table>


</div>

<div class="column is-3">
    <!-- Aca para cambiar el ancho de la fila     -->

</div>

</div>

{% endblock %}