{% extends "layout.html" %}
{% block body %}

<div>
    <h1 class="title is-1"><strong>Ranking</strong> </h1>

</div>
<div class="column">
    <!-- este es el relleno para que se vea mejor-->
</div>

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>Posición</th>
            <th>Usuario</th>
            <th>Puntaje</th>
        </tr>
    </thead>

    <tbody>
        
        {% for registro in registros %}

        {% if session['id'] == registro[0]: %}
        <tr class="is-selected">
            
            <th>{{ loop.index }}</th>
            <td>
                <div class="columna">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <figure class="image is-24x24">
                                <img class="is-rounded" src={{registro[1]}} alt="Image">
                            </figure>
                        </div>
                        <div class="column">{{registro[2]}}</div>
                    </div>
                </div>
            </td>
            
            <td>{{registro[3]}}</td>
        </tr>

        {% else: %}

        <tr>
            
            <th>{{ loop.index }}</th>
            <td>
                <div class="columna">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <figure class="image is-24x24">
                                <img class="is-rounded" src={{registro[1]}} alt="Image">
                            </figure>
                        </div>
                        <div class="column">{{registro[2]}}</div>
                    </div>
                </div>
            </td>
            
            <td>{{registro[3]}}</td>
        </tr>

        {% endif %}
        {% endfor %}
        
        
    </tbody>
</table>


</div>

<div class="column is-3">
    <!-- Aca para cambiar el ancho de la fila     -->

</div>

</div>

{% endblock %}