{% extends "layout.html" %}
{% block body %}
<div class="columns my-4">
	<div class="column is-1"></div>

	<div class="column box">

		<div class="column"></div>

		<div class="columns">
			<div class="column has-text-centered"><a href="/vidrio" class="title ">Vidrio</a></div>
			<div class="column has-text-centered"><a href="/vcartonpapel" class="title">Cartón o Papel</a></div>
		</div>

		<div class="column"></div>

		<div class="columns">
			<div class="column has-text-centered"><a href="/vlatas" class="title">Latas de aluminio</a></div>
			<div class="column has-text-centered"><a href="/plastico" class="title">Plástico</a></div>
		</div>

		<div class="column"></div>

		<div class="columns">
			<div class="column has-text-centered "><a href="/vresiduo" class="title">Residuos Orgánicos</a></div>
			<div class="column has-text-centered"><a href="/vtetra" class="title">Tetra-Pack</a></div>
		</div>

		<div class="column"></div>

	</div>
	
	<div class="column is-3"></div>
</div>

{% endblock %}