{% extends "layout.html" %}
{% block body %}

<h1 class="title has-text-centered mt-4">Carton y Papel</h1>
<div class="columns">

	<div class="column is-2"></div>
	<div class="column">
		<p>Dentro del de esta categoría se puede reciclar las cartulinas, papel Kraft, cilindros de papel higiénico y absorbente, cartón corrugado, cajas de embalaje, boletas, facturas, guías, sobres, papel blanco de impresora, hojas de cuaderno libros sin tapa, diarios y revistas</p>
	</div>

	<div class="column ">
		
	</div>
	

</div>
<div class="columns">

	<div class="column is-2"></div>
	<div class="column">
		<li>Saca etiquetas y tapas</li>
        <li>Saca elementos como clips, corchetes, cinta adhesiva y espiral</li>
        <li>Si el cartón este manchado, límpialo</li>
        <li>Finalmente, deposita el cartón/papel en el contenedor de reciclaje más cercano</li>
	</div>

	<div class="column">
		
	</div>
	

</div>

{% endblock %}