{% extends "layout.html" %}
{% block body %}

<h1 class="title has-text-centered mt-4">Vidrio</h1>
<div class="columns">

	<div class="column is-2"></div>
	<div class="column">
		<p>Se reciclan Botellas, frascos y vasos de vidrio transparente o de color. Pero no debes considerar reciclar los parabrisas tubos fluorescentes, loza, pírex, cristales, vidrio templado, ventanas, espejos y ampolletas.</p>
	</div>

	<div class="column ">
		<figure class="image is-128x128 ">
			<img src="https://bulma.io/images/placeholders/128x128.png">
		  </figure>
	</div>
	

</div>
<div class="columns">

	<div class="column is-2"></div>
	<div class="column">
		<li>Quita etiquetas y tapas</li>
        <li>Enjuaga con poca agua y escurre</li>
        <li>Finalmente, deposita el vidrio en el contenedor de reciclaje más cercano</li>
	</div>

	<div class="column">
		<figure class="image is-128x128">
			<img src="https://bulma.io/images/placeholders/128x128.png">
		  </figure>
	</div>
	

</div>

{% endblock %}