{% extends "layout.html" %}
{% block body %}

<h1 class="title has-text-centered mt-4">Latas de Aluminio</h1>
<div class="columns">

	<div class="column is-2"></div>
	<div class="column">
		<p>El reciclaje de latas de aluminio es uno de los más importantes, ya que este es totalmente reciclable, debido a que no pierde sus propiedades Se reciclan principalmente tarros de conservas que son fabricados con hojalata y latas de bebidas fabricadas de aluminio.

        </p>
	</div>

	<div class="column ">
		
	</div>
	

</div>
<div class="columns">

	<div class="column is-2"></div>
	<div class="column">
		<li>Quita los restos de alimentos</li>
        <li>Enjuaga con un poco de agua y escurre</li>
        <li>Finalmente, deposita las latas en el contenedor de reciclaje más cercano</li>
	</div>

	<div class="column">
		
	</div>
	

</div>

{% endblock %}