{% extends "layout.html" %}
{% block body %}

<h1 class="title has-text-centered mt-4">Vidrio</h1>
<div class="columns">

	<div class="column is-2"></div>
	<div class="column">
		<p>El reciclaje del plástico es importante, ya que este tarda entre 100 y 1000 años en degradarse. Por lo que, al reciclar este material estaremos consumiendo menos cantidades de materias primas y recursos naturales no renovables. Antes que nada, para reciclar primero debes mirar si el debajo del envase aparece un triángulo, en caso de que no aparezca significara que la botella no puede reciclarse</p>
	</div>

	<div class="column ">
		<figure class="image is-128x128 ">
			<img src="https://bulma.io/images/placeholders/128x128.png">
		  </figure>
	</div>
	

</div>
<div class="columns">

	<div class="column is-2"></div>
	<div class="column">
		<li>Primero debes mirar si el debajo del envase aparece un triángulo, en caso de que no aparezca significara que la botella no puede reciclarse</li>
        <li>Luego saca la tapa y la etiqueta</li>
        <li>Quita los restos de líquido de su interior</li>
        <li>Enjuaga con un poco de agua y escurre</li>
        <li>Finalmente, deposita el plástico en el contenedor de reciclaje más cercano</li>
	</div>

	<div class="column">
		<figure class="image is-128x128">
			<img src="https://bulma.io/images/placeholders/128x128.png">
		  </figure>
	</div>
	

</div>

{% endblock %}