{% extends "layout.html" %}
{% block body %}

<h1 class="title has-text-centered mt-4">Vidrio</h1>
<div class="columns">

	<div class="column is-2"></div>
	<div class="column">
		<p>Dentro de lo que puedes reciclar en los residuos orgánicos están las cáscaras y restos de frutas, restos de verduras y hojas marchitas de vegetales, frutas y verduras muy maduras, cáscaras de huevos, pasto, restos de podas, hojas verdes y secas, tierra de jardín, restos de té, café y mate y bolsas de té.
        </p>
	</div>

	<div class="column ">
		<figure class="image is-128x128 ">
			<img src="https://bulma.io/images/placeholders/128x128.png">
		  </figure>
	</div>
	

</div>
<div class="columns">

	<div class="column is-2"></div>
	<div class="column">
		<li>Lo separar los residuos orgánicos de tu casa en un contenedor distinto</li>
        <li>Luego incorporarlos a una compostera o vermicompostera o entregarlo el día de la recolección municipal</li>

	</div>

	<div class="column">
		<figure class="image is-128x128">
			<img src="https://bulma.io/images/placeholders/128x128.png">
		  </figure>
	</div>
	

</div>

{% endblock %}