{% extends "layout.html" %}
{% block body %}

<h1 class="title has-text-centered mt-4">Vidrio</h1>
<div class="columns">

	<div class="column is-2"></div>
	<div class="column">
		<p>La importancia de su reciclaje reside en que si no se recicla éste puede tardar hasta 35 años en degradarse, el daño ecológico puede ser muy importante.
        </p>
	</div>

	<div class="column ">
		<figure class="image is-128x128 ">
			<img src="https://bulma.io/images/placeholders/128x128.png">
		  </figure>
	</div>
	

</div>
<div class="columns">

	<div class="column is-2"></div>
	<div class="column">
		<li>Se escurre el líquido sobrante del producto</li>
        <li>Se enjuaga el envase con agua</li>
        <li>Se compacta, se puede aplastar o abrir un lado completo del envase</li>
        <li>Finalmente, deposita el Tetrapak en el contenedor de reciclaje más cercano</li>
	</div>

	<div class="column">
		<figure class="image is-128x128">
			<img src="https://bulma.io/images/placeholders/128x128.png">
		  </figure>
	</div>
	

</div>

{% endblock %}